<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>LimeSurveyXAPITracker</name>
        <type>plugin</type>
        <creationDate>2025-05-21</creationDate>
        <lastUpdate>2025-05-21</lastUpdate>
        <author>Santilario Berthilier, Julio - eUCM Team</author>
        <authorUrl>https://github.com/e-ucm/LimeSurveyXAPITracker</authorUrl>
        <version>1.0.0</version>
        <lastSecurityUpdate>1.0.0</lastSecurityUpdate>
        <license>-</license>
        <description>Send xAPI events for Limesurvey data.</description>
    </metadata>

	<compatibility>
        <version>6</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>